.barCharts {
    flex-grow: 1;
    max-width: 400px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__bar {
        display: flex;
        align-items: center;
        img {
            width: 32px;
            height: 32px;
        }
        div {
            height: 10px;
            margin-left: 15px;
        }
    }

}

@media screen and (max-width: 1200px) {
    .barCharts {
        width: 100%;
        max-width: 100%;
        position: relative;
        margin: 0;
        height: 200px;
        margin-top: 50px;
    }
}