.feed {
    width: 100%;
    display: grid;
    grid-template-columns: 0.75fr 0.25fr;
    gap: 25px;
}

@media screen and (max-width: 1200px) {
    .feed {
        display: flex;
        &__content  {
            width: 100%;
        }
    }
}