@font-face {
    font-family: "Comfortaa-Regular";
    src: url("../../fonts/Comfortaa-Regular.ttf") format("trueType");
}

@font-face {
    font-family: "Comfortaa-Light";
    src: url("../../fonts/Comfortaa-Light.ttf") format("trueType");
}

@font-face {
    font-family: "Comfortaa-Bold";
    src: url("../../fonts/Comfortaa-Bold.ttf") format("trueType");
}