.home {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1.8fr 8.2fr;
    grid-template-rows: 100px 1fr;
    position: absolute;
    top: 0;
    left: 0;
}



.mainBlock {
    grid-column: 2;
    grid-row: 2;
    height: 100%;
    width: 100%;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 40px 60px;
    box-sizing: border-box;
    background: rgb(227, 236, 238);
}

@media screen and (max-width: 1550px) {
    .home {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 870px) {
    .mainBlock {
        padding-left: 0;
        padding-right: 0;
    }
}